body{
    background-color: #F9F2E2 !important;
}

.navbar {
    background-color: #F9F2E2 !important;
}

.carousel {
    margin-top: 70px;
}

.footer{
    background-color: #740001;
}

.btn-primary{
    background-color: #FEC538 !important
}

.text-color{
    color: #740001 !important
}

.title {
    border-bottom: 2px solid #740001;   
    display: inline-block;
    padding-bottom: 5px;
}

.academic-section {
    background-image: url('../img/bgAkademik.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
}

.facilities-section {
    background-image: url('../img/bgFasilitas.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 20px;
}

.facility-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.facility-item i {
    font-size: 24px;
    margin-right: 10px;
    /* color: #f39c12; */
}

.section-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.biayaPendaftaran {
    background-image: url('../img/bgBiaya.png');
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px;
}

.info-header {
    background-color: #fec538;
    color: white;
    font-weight: bold;
    text-align: center;
    color: #740001;
    font-size: 30px;
    margin-top: -54px;
    margin-left: 455px;
    margin-right: 455px;
    padding: 2px;
    font-size: 32px;
}

.price-box {
    background-color: #800000;
    color: #FEC538;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0px 550px;
    border-radius: 5px;
}

.class-box {
    background-color: #fec538;
    color: #740001;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 480px;
    margin-right: 480px;
    margin-bottom: 10px;
}

.berita {
    /* background-color: #f9f9f9; */
    border-radius: 10px;
    padding: 20px;
}

.fasilitas {
    margin-left: -20px;
    width: 600px;
    height: 50px;
    background: linear-gradient(to right, #f39c12 10%, transparent 90%);
    padding: 5px 5px 5px 20px;
}