* {
    font-family: "Poppins", serif;
}

body {
    background-color: #f9f2e2 !important;
}

.title {
    border-bottom: 2px solid #740001;
    display: inline-block;
    padding-bottom: 5px;
}

.academic-section {
    background-image: url("../img/bgAkademik.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
}

.facilities-section {
    background-image: url("../img/bgFasilitas.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 20px;
}

.facility-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.facility-item i {
    font-size: 24px;
    margin-right: 10px;
    /* color: #f39c12; */
}

.section-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.biayaPendaftaran {
    background-image: url("../img/bgBiaya.png");
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px;
}

.info-header {
    background-color: #fec538;
    color: white;
    font-weight: bold;
    text-align: center;
    color: #740001;
    font-size: 30px;
    margin-top: -54px;
    margin-left: 440px;
    margin-right: 440px;
    padding: 2px;
    font-size: 32px;
}

.price-box {
    background-color: #800000;
    color: #fec538;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0px 550px;
    border-radius: 5px;
}

.class-box {
    background-color: #fec538;
    color: #740001;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 10px;
}

.berita {
    /* background-color: #f9f9f9; */
    border-radius: 10px;
    padding: 20px;
}

.fasilitas {
    margin-left: -20px;
    width: 600px;
    height: 50px;
    background: linear-gradient(to right, #f39c12 10%, transparent 90%);
    padding: 5px 5px 5px 20px;
}

.navbar {
    background-color: #f9f2e2 !important;
}

.carousel {
    margin-top: 70px;
}

.footer {
    background-color: #740001;
}

.btn-primary {
    background-color: #fec538 !important;
}

.text-color {
    color: #740001 !important;
}

.line {
    width: 11rem;
    height: 2.5px;
    background-color: #740001;
    margin: 10px auto;
}

.line2{
    width: 11rem;
    height: 2.5px;
    background-color: #740001;
    margin-left: 8rem;
}

.line3{
    width: 12.7rem;
    height: 2.5px;
    background-color: #740001;
    margin-left: 8rem;
}

.line4{
    width: 28.5rem;
    height: 2.5px;
    background-color: #740001;
    margin-left: 8rem;
}

.line5{
    width: 28.4rem;
    height: 2.5px;
    background-color: #740001;
    margin-left: 8rem;
}

.line6{
    width: 5rem;
    height: 2.5px;
    background-color: #740001;
    margin: 10px auto;
}

.borderLuar {
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 1px solid #000;
    width: 70%;
    height: 118rem;
    border-radius: 10px;
}

.borderLuar1{
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 1px solid #000;
    width: 70%;
    height: 42rem;
    border-radius: 10px;
}

.borderLuar3 {
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 1px solid #000;
    width: 70%;
    height: 55rem;
    border-radius: 10px;
}
.judul1{
    margin-top: 3rem;
    margin-left: 8rem;
}

.ps{
    margin-top: 1.5rem;
    padding: 0 8rem;
}

.judul2{
    margin-top: 4rem;
    margin-left: 8rem;
}

.idform{
    margin-top: 1.5rem;
    padding: 0 8rem;
}

.judul3{
    margin-top: 4rem;
    margin-left: 8rem;
}

.idalamat{
    margin-top: 1.5rem;
    padding: 0 8rem;
}

.judul4{
    margin-top: 4rem;
    margin-left: 8rem;
}

.formdetpekerjaan{
    margin-top: 1.5rem;
    padding: 0 8rem;
}

.ket{
    margin-top: 1.5rem;
    margin-left: 8rem;
}

.wajib{
    margin-left: 9rem;

}

.judul5{
    margin-top: 3rem;
}

.judul1 {
    margin-top: 3rem;
}

.uploadberkas {
    margin-top: 1rem;
    padding: 5rem;
}

.next{
    text-decoration: none;
    color: white;
}

/* Identitas Sekolah */
.juduls1{
    margin-top: 3rem;
    margin-left: 21.5rem;
}

.lines1{
    width: 11.5rem;
    height: 2.5px;
    background-color: #740001;
    margin: 0.7rem auto;
}

.idsekolah{
    margin-top: 2rem;
    padding: 0 8rem;
}

/* Identitas Orang tua */
.borderLuar2{
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 1px solid #000;
    width: 70%;
    height: 163rem;
    border-radius: 10px;
}

.idayah{
    margin-top: 2rem;
    padding: 0 8rem;
}

.idibu{
    margin-top: 5rem;
    padding: 0 8rem;
}

.alamatortu{
    margin-top: 5rem;
    padding: 0 8rem;
}

.idwali{
    margin-top: 5rem;
    padding: 0 8rem;
}

.juduls2{
    margin-top: 3rem;
    margin-left: 23rem;
}

.juduls3{
    margin-top: 3rem;
}

.lines2{
    width: 8rem;
    height: 2.5px;
    background-color: #740001;
    margin: 0.7rem auto;
}

.lines3{
    width: 11rem;
    height: 2.5px;
    background-color: #740001;
}

.lines4{
    width: 9.5rem;
    height: 2.5px;
    background-color: #740001;
}

.lines5{
    width: 9.5rem;
    height: 2.5px;
    background-color: #740001;
}

.lines6{
    width: 18rem;
    height: 2.5px;
    background-color: #740001;
}

.ket1{
    margin-top: 1.5rem;
}

.wajib1{
    margin-left: 1rem;

}
